body {
  font-family: 'Raleway', sans-serif;
  background: 
    linear-gradient(45deg, #69b7eb, #b3dbd3, #f4d6db, #b3dbd3, #f4d6db);
  background-blend-mode: multiply, normal;
    
}

.navbar-brand {
  font-family:"Dancing Script", cursive;
     margin: 0;
  padding: 0;
}
.navbar {w
    position: fixed;
    z-index: 150;
    background-color: white;
}
.navbar-brand {
   
    width: 100%;
}
.navbar-right li {
    display: inline;
    width: 100%;
}
h1{
  font-family: "Crushed",cursive;
  margin-top: 75px;
  text-shadow: 2px 2px 8px #CC908F;
  display: none;
}
h2,
h3{
    font-family: "Crushed", cursive;
    text-align: center;
}
.unicorn {
   
}
.lead {
    font-size: 1.5em;
}
.container {
    width: 95vw;
}
#about{
    text-align: center;
    padding: 25px 5px;
    border: 2px solid gray;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.left {
    text-align: left;
}
#portfolio {
    background-color:aliceblue;
    margin-top: 20px;
    padding: 25px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-item {
    width: 80%;
    margin: 5% 10% 5% 10%;
}
footer {
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    background-color: white;
}
.rock-salt {
  font-family: "Rock Salt", cursive;
  font-size: 1.25em;
}
.jumbotron p{
    float:right;
    text-align: right;
    position:absolute;
    top: 200px;
}
.col-md-6 {
  text-align: center;
  padding:inherit;
  margin: auto;
  flex-grow: 1;
}
.col-md-4 {
  text-align: center;
  padding:inherit;
  margin: auto;
  flex-grow: 1;

}
.col-md-12 p{
    font-size: 1.5em;
    padding: 12px;
margin: 10px;
    font-family:"Rock Salt", cursive;
    text-align: center;
}
.col-md-2 {
    text-align: center;
}
.row {
    padding:10px;
    
}
.text {
    text-align: center;
    font-family: "Raleway", monospace;
    
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}


 
