body {
  font-family: 'Raleway', sans-serif;
  background: 
    linear-gradient( 90deg, 
      #777 0%,
      #555 25%,
      #666 50%, 
      #555 75%,
      #777 100%);
  background-size: 9em 1em;
  background-color: #ffffff;
  background-blend-mode: multiply, normal;

}

.navbar-brand {
  font-family:"Dancing Script", cursive;
}
h1{
  font-family: "Dancing Script",cursive;
  margin-top: 75px;
  text-shadow: 2px 2px 8px #CC908F;
  display: none;
}
h2,
h3{
    font-family: "Dancing Script",cursive;
  text-shadow: 2px 2px 8px #999;
    font-size: 3em;
    text-align: center;
}
.about{
    background-color: white;
    text-align: center;

}
.about img{
    border-radius: 100%;
}
.rock-salt {
  font-family: "Rock Salt", cursive;
  font-size: 1.25em;
}
.jumbotron {
  background-color: rgba(255, 255, 255, .95);
}

.ltblue-background {
  background-color: rgb(153,204,255);
}
.ltgray-background {
  background-color: #CCCCCC;
}

.white-background {
  background-color: #FFFFFF;
}


.blue-background{
  background-color: #33ccff;
}
.hex-background {
    background-image:url(images/hex.png);
}
.col-md-6 {
  text-align: center;
  padding:inherit;
  margin: auto;
  flex-grow: 1;
}
.col-md-4 {
  text-align: center;
  padding:inherit;
  margin: auto;
  flex-grow: 1;

}
.col-md-12 p{
    font-size: 1.5em;
    padding: 12px;
margin: 10px;
    font-family:"Rock Salt", cursive;
    text-align: center;
}
.col-md-2 {
    text-align: center;
}
.row {
    padding:10px;
    
}
.btn-info {
  background-color: #888;
  border: none;
  border-radius: 50%;
}
.btn-info:hover{
  background-color: #000;
}
.btn-custom {
  background: #999999;
  color: #fff;
  font-size: 14px;
  border: 4px solid #999990;
  border-radius: 0.5em;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
  line-height: 32px;
}
.btn-custom:after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0.1), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0.1));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.btn-custom:hover:after {
  -webkit-animation: sheen 1s forwards;
}
@-webkit-keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.stripes {
    height: auto;
    width: 100%;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
}
.deg45 {
    background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, gray), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, gray), color-stop(.75, gray), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
}
.deg45n {
   background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, gray), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, gray), color-stop(.75, gray), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent); 
}
.accordion {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #505050;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    margin: 0 auto;
    height: 80px;
    width: 100%;
}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: left;
}

.accordion > ul > li {
    background-color: #1f1f1f;
    color: white;
    margin-right: -680px;
    margin-bottom: -0px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 680px;
    margin-bottom: 0px;
}

.accordion-title,
.accordion-select  {
    background-color: #2d2d2d;
    color: #999;
    width: 80px;
    height: 80px;
    font-size: 15px;
}

.accordion-title span {
    margin-bottom: 10px; 
    margin-left: 20px;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #66ccff;
}

.accordion-title span  {	
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-left: 0px;
    line-height: 80px;
}

.accordion-content {
    background-color: #3e3e3e;
    color: #f5f2f0;
    height: 26px;
    width: 626px;
    padding: 27px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}
   
