body {
  font-family: 'Raleway', sans-serif;
}
background: {rgb(34,193,195);
background-image: linear-gradient(162deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.navbar-brand {
  font-family:"Dancing Script", serif;
     margin: 0;
  padding: 0;
}
.navbar {w
    position: fixed;
    z-index: 150;
    background-color: white;
}
.navbar-brand {
   
    width: 100%;
}
.navbar-right li {
    display: inline;
    width: 100%;
}
h1{
  font-family: "Titillium Web", monospace;
  margin-top: 75px;
  text-shadow: 2px 2px 8px #CC908F;
  display: none;
}
h2,
h3{
    font-family: "Titillium Web", monospace;
    text-align: center;
}
.logo {
   width: 10vw;
    padding-top: 50px;
}
.lead {
    font-size: 1.5em;
}
.skills {
    margin-top: 50px;
        background-color:ghostwhite;
}
.container {
    width: 95vw;
    background-color: white;
    margin: auto;

}
#about{
    text-align: center;
    padding: 25px 5px;
    border: 2px solid gray;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
display; flex;
    margin: auto;
}

.card {
    margin: auto;
}
.card img {
    height: 25vw;
}
.card p {
    text-align: center;
}
.left {
    text-align: left;
  padding-top: 50px;
  float: left;
  clear: all;
}
.right{
    text-align: right;
    float:right;
    padding-top: 50px;
  clear: all;
}
#portfolio {
    background-color:whitesmoke;
    margin-top: 20px;
    padding: 25px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-item {
    width: 80%;
    margin: 5% 10% 5% 10%;
}
footer {
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    background-color: whitesmoke;
}
.rock-salt {
  font-family: "Rock Salt", cursive;
  font-size: 1.25em;
}
.jumbotron p{
    float:right;
    text-align: right;
    position:absolute;
    top: 200px;
}
.col-md-6 {
  text-align: center;
  padding:inherit;
  margin: auto;
  flex-grow: 1;
}
.col-md-4 {
  text-align: center;
  padding:inherit;
  margin: auto;
  flex-grow: 1;

}
.col-md-12 p{
    font-size: 1.5em;
    padding: 12px;
margin: 10px;
    font-family:"Rock Salt", cursive;
    text-align: center;
}
.col-md-2 {
    text-align: center;
}
.row {
    padding:10px;
    
}
.text {
    text-align: center;
    font-family: "Raleway", monospace;
    
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.carousel-caption {
    color:darkgray;
    padding-top: 25px;
}
 
